@model IEnumerable<App.Data.Entities.Request>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReceiveDocType.DocTypeDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestDocType.DocTypeDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.StatusDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.Country.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiveDocType.DocTypeDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestDocType.DocTypeDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.StatusDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.Country.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RequestId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RequestId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RequestId })
        </td>
    </tr>
}

</table>
